:root {
  --Dark-Violet: hsl(256, 26%, 20%);
  --Grayish-Blue: hsl(216, 30%, 68%);
  --very-dark-violet: hsl(270, 9%, 17%);
  --dark-grayish-violet: hsl(273, 4%, 51%);
  --very-light-gray: hsl(0, 0%, 98%);
}
.container {
  max-width: min(90vw, 1440px);
  margin: 0 auto;
}
.flex-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.humanizing-section .flex-row {
  align-items: flex-start;
  gap: 1rem;
}

.mobile,
.img-mobile {
  display: none;
}

header {
  font-family: "DM Serif Display", serif;
  padding: 2rem 0;
  position: sticky;
  top: 0;
  background-color: #ffffff;
  z-index: 30;
}
#btn-menu {
  display: none;
}

header .container #nav #menu {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 2rem;
}
header .container #nav #menu a {
  text-decoration: none;
  color: var(--dark-grayish-violet);
  transition: 0.3s;
}
header .container #nav #menu a:hover {
  color: var(--very-dark-violet);
}

/* section */
.humanizing-section {
  background-color: var(--Dark-Violet);
  padding-top: 7%;
  position: relative;
  box-shadow: inset 0 -8vw #fff;
}
.line {
  width: 12rem;
  height: 2px;
  background-color: #ffffff;
  margin-bottom: 4rem;
}

.humanizing-section .container {
  position: relative;
}

.img-container,
.img-container img {
  width: 100%;
}

/* section 2 */

.were-different-section {
  margin-top: 10rem;
  margin-bottom: 10rem;
}

.content-infos {
  padding-top: 5rem;
  display: flex;
  gap: 2rem;
  justify-content: space-between;
}

.content-infos .icon-container {
  margin-bottom: 2rem;
  width: 100%;
}

/* section 3 */
.find-more-section {
  background-color: var(--Dark-Violet);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4rem;
  margin-bottom: 10rem;
  position: relative;
  overflow: hidden;
}
.container-btn,
h1 {
  z-index: 5;
}

@media (max-width: 960px) {
  .humanizing-section::before,
  hr,
  span {
    display: none;
  }

  .mobile {
    display: block;
  }

  .humanizing-section {
    box-shadow: none;
    text-align: center;
    padding: 0;
  }
  .humanizing-section .flex-row {
    flex-direction: column-reverse;
    padding: 3rem 0;
  }

  .content {
    margin-top: 3rem;
    z-index: 4;
  }

  .were-different-section {
    text-align: center;
  }
  .were-different-section .content-infos {
    flex-direction: column;
  }
  .find-more-section {
    text-align: center;
    justify-content: center;
    flex-direction: column;
    gap: 3rem;
    padding: 4rem 2.5rem;
  }
}
@media (max-width: 550px) {
  .img-container,
  span {
    display: none;
  }
  .img-mobile {
    display: block;
    width: 100%;
  }
  .humanizing-section {
    padding-top: 0;
    padding-bottom: 5rem;
  }
}
