.humanizing-section::before {
  content: "";
  height: 100%;
  width: 100%;
  background-image: url(../../images/bg-pattern-intro-left-desktop.svg);
  background-repeat: no-repeat;
  background-size: min(12vw, 20rem);
  position: absolute;
  bottom: -50%;
  left: 0;
}

.pattern-intro-right-desktop {
  position: absolute;
  top: -12%;
  right: 0;
  width: min(33vw, 34rem);
  z-index: 3;
}
.pattern-how-we-work-desktop {
  position: absolute;
  right: 0;
}

@media (max-width: 960px) {
  .pattern-intro-right-desktop,
  .pattern-how-we-work-desktop {
    display: none;
  }

  .pattern-intro-left-mobile {
    width: 60%;
    position: absolute;
  }
  .pattern-intro-right-mobile {
    position: absolute;
    right: 0;
    bottom: -15%;
    width: 35%;
  }
  .pattern-intro-left-mobile {
    width: 50%;
  }
  .pattern-how-we-work-mobile{
    position: absolute;
    right: 0;
  }
}
@media (max-width: 550px) {
  .pattern-how-we-work-desktop {
    top: 0;
    height: 100%;
  }
}
