.title {
  font-family: "DM Serif Display", serif;
  font-size: clamp(2.5rem, 7.3vw, 5.33rem);
  font-weight: 400;
  color: #ffffff;
  line-height: 90%;
  margin-bottom: 2rem;
}
.text {
  color: #ffffff;
  line-height: 160%;
  font-size: min(1.5vw, 1.4rem);
  font-weight: 400;
  padding-right: 5%;
  margin-bottom: 2rem;
}
.sub-title {
  font-family: "DM Serif Display", serif;
  font-size: min(3.9vw, 4rem);
  font-weight: 400;
  color: #ffffff;
  line-height: 90%;
}
.title-icons-content {
  font-family: "DM Serif Display", serif;
  font-size: min(2vw, 1.5rem);
  color: var(--very-dark-violet);
  margin-bottom: 2rem;
}
.sub-text {
  color: var(--dark-grayish-violet);
  line-height: 160%;
  font-size: min(1.3vw, 1.23rem);
  font-weight: 400;
  padding-right: 5%;
  margin-bottom: 2rem;
}
.footer-nav-text,
.footer-nav-title {
  font-size: min(1.3vw, 1.23rem);
  font-weight: 700;
  line-height: 220%;
}
.footer-nav-text {
  color: var(--very-dark-violet);
}
.footer-nav-title {
  color: var(--dark-grayish-violet);
}
.were-different-section .title,
.were-different-section .line {
  color: var(--very-dark-violet);
}
@media (max-width: 960px) {
  .text,
  .footer-nav-text,
  .footer-nav-title {
    font-size: 3vw;
  }
  .sub-title {
    font-size: 5.5vw;
  }
  .title-icons-content {
    font-size: 4.4vw;
  }
  .sub-text {
    font-size: 3vw;
  }
}
@media (max-width: 550px) {
  .text,
  .footer-nav-text,
  .footer-nav-title {
    font-size: 4.3vw;
  }
  .sub-title {
    font-size: 8.5vw;
  }
  .title-icons-content {
    font-size: 6vw;
  }
  .sub-text {
    font-size: 3.8vw;
  }
}
